{% extends 'base.html' %}
{% from 'macros/form_field.html' import render_field with context %}

{% block content %}

<section>

  <form method=post>
      <dl>
        {{ render_field(form.login) }}
        {{ render_field(form.username) }}
        {{ render_field(form.surname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password1) }}
        {{ render_field(form.email) }}
        {{ render_field(form.phone) }}
      </dl>
      <input type="submit" value=Register>
    </form>


</section>
{% endblock %}