<footer>
    <div>
      <h3>Rychlé odkazy</h3>
      <ul>
        <li>
            <a href="{{url_for('homepage.index')}}">Home</a>


        </li>

        <li>
            <a href="{{url_for('view_all_stats')}}">Statistics</a>
        </li>
          <li>
               <a href="{{url_for('view_current_prices')}}">Current Prices</a>
          </li>
        <li>
          <a>Actual Price </a>
        </li>
        <li>
          <a>About Us</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>Kontakt</h3>
        <address>
          PEF MENDELU<br>
          Zemědělská 1 <br>
          Brno, 613 00
        </address>
    </div>
</footer>