{% block nav %}
<div class="hamburger" onclick="document.getElementById('nav').classList.toggle('visible')">
    <i class="fa-solid fa-bars"></i>
</div>
<nav id="nav">
    <a href="{{url_for('homepage.index')}}">Home Company</a>
    <a href="{{url_for('view_all_stats')}}">Statistics</a>
    <a href="{{url_for('view_current_prices')}}">Current Prices</a>
    <a>About Us</a>
    {% if session['authenticated'] %}
    <a href="{{url_for('account.history')}}">History</a>
    <a href="{{url_for('account.account')}}">Account</a>
    <a href="{{url_for('auth.signout')}}">Logout</a>
    {% else %}
    <a href="{{url_for('auth.sign_in')}}">Sign in</a>
    {% endif %}
    </div>
</nav>
{% endblock%}